/* #region Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gb-font-family-logo: "Nerko One", cursive;
    --gb-font-family-body: "Montserrat", sans-serif;
    --gb-body-bg: #f6f5f3;
    --gb-logo-color: #ff9614;
    --gb-logo-shadow: #a89175;
    --gb-dark: black;
    --gb-lighter: white;
    --gb-primary: #7c69a4;
    --gb-primary-dark: #4e3969;
}

body {
    font-family: var(--gb-font-family-body);
    background-color: var(--gb-body-bg);
}


/* #region header */

#app_header {
    font-family: var(--gb-font-family-logo);
    background-color: var(--gb-lighter);
    padding: 1rem;
    box-shadow: 0 0 5px var(--gb-logo-shadow);

    .logo {
        text-align: center;
        @media(min-width: 768px) {
            text-align: start;
        }

        a   {
            color: var(--gb-logo-color);
            text-decoration: none;
            font-size: 2.8rem;
            text-transform: uppercase;
            text-shadow:  1px 1px var(--gb-logo-shadow);
        }
    }
}