/* #region Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set a min width to avoid breacking the layout on smaller screens */
body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    min-width: 1440px;
}

:root {
    --dis-primary-color: #3161e0;
    --dis-light-color: #f6f6f6;
    --dis-dark-color: #23272a;
    --dis-lighter: #ffffff;
    --dis-secondary: #7188d8;
    --dis-secondary-light: #8ea1e1;
}

/* Makes images responsive (adaptable to their contaienr */
img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

p, ul {
    line-height: 1.75rem;
}

ul.list-unstyled {
    list-style: none;
}

/* #endregion Common */


/* #region debug */
/* Mettere nelle regole di debug solo le alezze fisse e colori di sfondo sgargianti  */
#debug * {
    border: 1px dashed;
}

#debug header {
    background-color: red;

}

#debug .container-sm {
    height: 400px;
    background-color: paleturquoise;

}

#debug .w-40,
#debug .w-60 {
    height: 300px;
    background-color: blueviolet;
}

#debug [class^="col-"] {
    height: 350px;
    background-color: plum;
}

/* #endregion debug */


/* #region utities */
.container {
    width: 80%;
    max-width: 1172px;
    margin: auto;
}

.container-sm {
    width: 70%;
    margin: auto;
}

/* Flex */
.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}


.w-30 {
    width: 30%;
}

.w-70 {
    width: 70%;
}


.col-1 {
    width: calc((100% / 12) * 1);
}

.col-2 {
    width: calc((100% / 12) * 2);
}

.col-4 {
    width: calc((100% / 12) * 4);
}

.col-6 {
    width: 50%;
}

.col-12 {
    width: 100%;
}


/* Makes the rule important and not overridable */
hr.divider {
    border: none;
    border-bottom: 1px solid #ffffff52;
}

/* Spacings */
.py-4 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* colors */

.bg-primary {
    background-color: var(--dis-primary-color);
}

.bg-light {
    background-color: var(--dis-light-color);
}

.bg-dark {
    background-color: var(--dis-dark-color);
}


.btn {
    padding: .5rem 0.75rem;
    border-radius: 1rem;
    border-style: none;
    display: inline-block;
}
.btn-lg {
    padding: 0.75rem 1.25rem;
    border-radius: 1.5rem;
}

.btn-light {
    background-color: var(--dis-lighter);
    color: var(--dis-dark-color);

}

.btn-dark {
    background-color: var(--dis-dark-color);
    color: var(--dis-lighter);

}

.btn-secondary-light {
    background-color: var(--dis-secondary-light);
    color: var(--dis-lighter);

}


.text-center {
    text-align: center;
}

.text-end {
    text-align: end;
}

.wave{
    color: #f6f6f6;
}

.wave-top {
    margin-bottom: -4px;
}

.wave-bottom {
    margin-top: -4px;
    rotate: 180deg;
}

/* #endregion utities */



/* #region header */


#app_header {
    background-color: var(--dis-primary-color);
    padding: 1rem 0;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    

    &>div {
        align-items: center;
    }


    .logo,
    .login {
        width: 20%;
    }

    .login {
        text-align: end;

    }

    .main_menu {
        flex-grow: 1;
        text-align: center;

        ul {
            list-style: none;
            display: flex;
            justify-content: space-around;

            a {
                color: var(--dis-lighter);
            }
        }

    }
}


/* #region Main */

#app_main {

    & section:not(:first-child) {
        padding: 3.5rem 0;
        & h2 {
            margin: 2rem 0;
             font-size: 2.5rem;
         }
     }


    #hero_image {
        background-image: url('../img/jumbo.png');
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 440px;
        color: var(--dis-lighter);

        h1 {
            font-size: 3rem;
            margin: 2rem 0 3rem;
        }
        h1, p {
            text-align: center;
        }

        p {
            max-width: 650px;
            margin: auto;
        }

    }


    #video_calls {
        p {
            width: 800px;
            margin: auto;
        }
    }

}

/* #endregion Main */

/* #region Footer */

#app_footer {
    
    h2, h3 {
        color: var(--dis-secondary);
        margin-bottom: 1rem;
    }
    
    a, .bottom, .language_picker, .socials {
        color: var(--dis-lighter);
    }

    .language_picker {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 1rem;
    }
    
    .socials {
        i {
            padding: 0.25rem;
        }
    }

    .bottom {
        padding: 1rem 0;

    }
}